@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Theme */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #111; /* Dark background */
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #444; /* Dark gray thumb */
  border-radius: 10px;
  border: 2px solid #111; /* Blend with the track */
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Lighter gray on hover */
}

/* Add this to your global CSS */
.connect-button {
  font-family: monospace !important;
  font-size: 0.875rem !important; /* Equivalent to text-sm */
  letter-spacing: 0.05em !important; /* Equivalent to tracking-wide */
}

.connect-button:hover {
  color: rgb(228, 228, 231) !important; /* Hover effect with light gray color */
}